extends ../layout/main

block title
	| Weddings  

block content
	include ../sections/banner
	include ../sections/about.pug
	include ../sections/services.pug
	include ../sections/portfolio.pug
	include ../sections/price.pug
	
