// Colors variable
mainColor    = #007558;


//FONTS

  mainFont   = "PTSansRegular", Arial,sans-serif
  italicFont = "PTSansItalic", Arial,sans-serif
  boldFont   = "PTSansBold", Arial,sans-serif
  titleFont  = "Kurale-Regular", Arial,sans-serif
