.header-nav__list
  position absolute
  top 80px
  left 0
  display none
  z-index 1
  


.header-nav__link
  display block
  color mainColor
  padding 15px 15px 15px 20px
  border-bottom 1px solid mainColor
  transition all linear .1s
  background-color #fff

  &:hover
    background-color mainColor
    color #fff
