section.banner
    .container
      p.banner-text Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
       sed do eiusmod tempor incididunt ut labore et dolore   <br>
       Lorem ipsum dolor sit amet, consectetur adipisicing
