section.price
	.container
		h2.g-section-title.g-section-title--white Price-List
		.price-item__wrap

			.price-item.price-item--level1
				span.price__title Wedding <br> Reservation 
				p.price-descr From sea to shining sea or across the globe no destination is beyond our reach. Whether it’s a lot more information <b> Here </b> but I wouldn't show you yet
				ul.price-list
					li - We are a team of wedding planners and coordinators with a long and wide experience on Italian Weddings 
					li - We are a team of wedding planners and coordinators <i>with a long and wide experience on Italian Weddings </i>
					
				.price-number
					span 17 000 &#8356;

			.price-item.price-item--level2
				span.price__title Wedding <br> Organization 
				p.price-descr From sea to shining sea or across the globe no destination is beyond our reach. Whether it’s a 
				ul.price-list
					li - Celebrate your new beginning at one of the premier Houston wedding venues, The Westin Houston Downtown. The Westin Houston Downtown 
					li - Celebrate your new beginning at one of the premier Houston wedding venues, The Westin Houston Downtown. The Westin Houston Downtown
					
					li
						b Just Relax!
				.price-number
					span 32 000 &#8364;


			.price-item.price-item--level3
				span.price__title Premium Class <br> Style Wedding 
				p.price-descr From sea to shining sea or across the globe no <b>destination is beyond</b> our reach. Whether it’s a 
				ul.price-list
					li - Enjoy a gentle Texas breeze on the balcony of the two terraces while your guests enjoy the old-world charm of Villa Antonia 
					li - Enjoy a <i>gentle Texas breeze on the balcony of the two terraces while your guests enjoy the old-world charm of Villa Antonia</i>
				.price-number
					span 54 000 $

		.price-order
			p Detail Information by Phone: 
				a(href="tel:+15124009876") +1(512)-400-9876 
				| or leave request:

			a(href="javascript:void(0);").g-btn Leave your Request 






