section.services
  .container
    h2.g-section-title.g-section-title--white Services
    
    .service-item.service-item--organization
      span.service-item__title Organization
      p.service-item__text Lorem ipsum dolor sit amets 
        | consectetur adipisicing elit, sed do eiusmod tempor incididunt
        <b>labore et dolore magna aliqua.</b> 
        | Ut enim ad minim veniam
    
    .service-item.service-item--master
      span.service-item__title Host
      p.service-item__text Lorem ipsum dolor sit amet 
        | consectetur adipisicing elit, sed do eiusmod tempor incididunt
        <b>labore et dolore magna aliqua.</b> 
        | Ut enim ad minim veniam
        
    .service-item.service-item--photo.service-item--center
      span.service-item__title Photo and Video
      p.service-item__text Lorem ipsum dolor sit amet 
        | consectetur adipisicing elit, sed do eiusmod tempor incididunt
        <b>labore et dolore magna aliqua.</b> 
        | Ut enim ad minim veniam
        
    .service-item.service-item--decor.service-item--center
      span.service-item__title Decoration
      p.service-item__text Lorem ipsum dolor sit amet, 
        | consectetur adipisicing elit, sed do eiusmod tempor incididunt
        <b>labore et dolore magna aliqua.</b> 
        | Ut enim ad minim veniam
        
    .service-item.service-item--banket.service-item--center
      span.service-item__title Banket 
      p.service-item__text Lorem ipsum dolor sit amet, 
        | consectetur adipisicing elit, sed do eiusmod tempor incididunt
        <b>labore et dolore magna aliqua.</b> 
        | Ut enim ad minim veniam
        
    .service-item.service-item--registration
      span.service-item__title Registration
      p.service-item__text Lorem ipsum dolor sit amet, 
        | consectetur adipisicing elit, sed do eiusmod tempor incididunt
        <b>labore et dolore magna aliqua.</b> 
        | Ut enim ad minim veniam
        
    .service-item.service-item--artist
      span.service-item__title Actors
      p.service-item__text Lorem ipsum dolor sit amet, 
        | consectetur adipisicing elit, sed do eiusmod tempor incididunt
        <b>labore et dolore magna aliqua.</b> 
        | Ut enim ad minim veniam
