header
  .container
    .header-nav
      .sandwich
        span.sandwich-line.sandwich-line--top
        span.sandwich-line.sandwich-line--middle
        span.sandwich-line.sandwich-line--bottom
      span.header-nav__title Menu
    .header-about
      span.header-company__name Name of the Company
      span.header-company__descr  Description of the Company
    .logo.header-logo
      img(src='static/img/general/logo.png' srcset='static/img/general/logo2X.png 2x')
    .header-phone
      a(href="tel:+15124009255") +1 (512)-800-9255
      a(href="tel:+15125009244") +1 (832)-800-9255 
    a(href="javascript:void(0);").g-btn Order a phone Call
