ul.header-nav__list
  li
    a(href="javascript:void(0);").header-nav__link Main
  li
    a(href="javascript:void(0);").header-nav__link Services 
  li
    a(href="javascript:void(0);").header-nav__link Portfolio
  li
    a(href="javascript:void(0);").header-nav__link Prices
  li
    a(href="javascript:void(0);").header-nav__link Our Team
  li
    a(href="javascript:void(0);").header-nav__link Our Partners
  li
    a(href="javascript:void(0);").header-nav__link Testimonials
  li
    a(href="javascript:void(0);").header-nav__link Other Services
  li
    a(href="javascript:void(0);").header-nav__link Contacts
